.j0{
	
	padding-top: 7%;
	text-align: center;
	font-size: 100px;
	font-weight:700;
	font-family: 'Averia Sans Libre', cursive;

	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
	background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Kanit', sans-serif;

}
.navbar{
	font-family: 'Concert One', cursive;
	font-size: large;
}

.page-footer{
	font-family: 'Averia Sans Libre', cursive;
	
	color: white;
}
.card-text{
	font-family: 'Averia Sans Libre', cursive;
	font-weight: 600;
}
.card-title{
	font-weight: 600;

}